*{
  margin: 0;
  padding: 0;
  font-family: inter;
  font-size: 15px;
}



.corDeFundoBranco {
  background-color: #f5f5f5;
  visibility: hidden;
}

.corBotaoRosa {
  background-color: #c92071;
}
.corBotaoRosa:hover {
  transform: scale(1.1);
  transition: 1s;
}

.icone {
  width: 70px;
  background-color: #ffffff;
  border-radius: 30px;
}
.icone:hover {
  transform: scale(1.1);
  transition: 1s;
  cursor: pointer;
}

.cardSapatoComp3 {
  background-color: rgb(255, 255, 255);
  padding-bottom: 40px;
  padding-top: 40px;
  /* padding-left: 80px; */
  border-radius: 8px;
  box-shadow: 0px 4px 4px #c9207232;
  

}
.cardSapatoComp3:hover {
  transform: scale(1.1);

  transition: 2s;
  border: 1px solid #c92071;
  cursor: pointer;
  border-radius: 10px;
}
.rotation {
  transform: rotate(-30deg);
}

.corFontePreço {
  color: lightgray;
  font-size: 15px;
}

.fundoCard {
  background-color: #d7e3f1;
}
.fundoCard:hover {
  transform: scale(1.1);
  transition: 1s;
  border: solid 1px #c92071;
  cursor: pointer;
}

.desconto {
  background-color: #e7ff84;
  padding: 10px 0px 10px 5px;
  width: 70px;
  border-radius: 30px;
}

.corFonteBotaoComp1 {
  color: #c92071;
}
.corFonteBotaoComp1:hover {
  background-color: #c92071;
  color: white;
}

.gradiente {
  background-image: linear-gradient(
    to bottom,
    #4400ff38,
    rgba(255, 255, 255, 0.31)
  );
  border-radius: 400px 400px 0px 0px;
  padding-top: 40px;
  margin-bottom: 100px;
}

.corBotaoRosa {
  background-color: #c92071;
}

.corFonteRosa {
  color: #c92071;
}

.corDeFundoComp4 {
  background-color: white;
  padding-top: 50px;
}

/* Cleber criou */

.estiloPreco {
  font-size: 20px;
  font-weight: bold;

}

.carrosselh1 {
  font-size: 40px;
  font-weight: 900;
}

.margens {
  background-color: #c92071;
}